#homepage-s1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84rem;
  padding: 204rem 180rem 84rem;
  z-index: 8;
  color: var(--white);
  background-color: #0c0323;
}

#homepage-s1 .section-background {
  min-height: 1500rem;
  background: linear-gradient(180deg, #0A0118 0%, rgba(10, 1, 24, 0.00) 24.22%, rgba(10, 1, 24, 0.00) 73.85%, #0A0118 100%);
}

#homepage-s1 .section-background .top-left{
  position: absolute;
  mix-blend-mode: color;
  top: -811rem;
  left: -711rem;
  width: 1326rem;
  height: 1256rem;
  transform: rotate(126deg);
}

#homepage-s1 .section-background .top-left .red{
  position: absolute;
  background-color: #F43F5E;
  width: 660rem;
  mix-blend-mode: color;
  height: 614rem;
  filter: blur(150rem);
  opacity: 0.6;
  top: 0;
  left: 0;
}

#homepage-s1 .section-background .top-left .purple{
  position: absolute;
  width: 561rem;
  height: 465rem;
  filter: blur(150rem);
  opacity: 0.2;
  mix-blend-mode: color;
  top: 0;
  right: 0;
  border: 100rem solid #8215B5;
}

#homepage-s1 .section-background .top-left .blue{
  position: absolute;
  width: 1140rem;
  mix-blend-mode: color;
  height: 727rem;
  bottom: 0;
  background-color: #38BDF8;
  filter: blur(150rem);
}

#homepage-s1 .section-background .bg-grid {
  width: 801rem;
  height: 801rem;
  position: absolute;
  top: -105rem;
  left: 391rem;
  opacity: 0.4;
  border-radius: 1264px;
  background-image: url("../../assets/images/bg-grid.svg");
  background-size: 100%;
}

#homepage-s1 .section-background .bg-stairs {
  top: 50rem;
  width: 952rem;
  height: 804rem;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/card-opportunity-background.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

#homepage-s1 .section-background .center {
  width: 1264rem;
  height: 711rem;
  border-radius: 1264px;
  opacity: 0.3;
  position: absolute;
  bottom: 287rem;
  left: 54rem;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

#homepage-s1 .section-background .bottom-left{
  width: 670rem;
  height: 551rem;
  transform: rotate(50deg);
  opacity: 0.3;
  filter: blur(150rem);
  border: 100rem solid #8215b5;
  position: absolute;
  bottom: 205rem;
  left: -318rem;
  background-color: #22d3ee;
}

#homepage-s1 .section-background .top-right{
  width: 434rem;
  height: 86rem;
  background-color: #ff3bc0;
  position: absolute;
  top: 280rem;
  right: -150rem;
  opacity: 0.55;
  border-radius: 434rem;
  filter: blur(135rem);
}

#homepage-s1 .section-background .bottom-right{
  width: 561rem;
  height: 464rem;
  transform: rotate(126deg);
  opacity: 0.3;
  filter: blur(150rem);
  border: 100rem solid #8215b5;
  position: absolute;
  bottom: 295rem;
  right: -265rem;
  z-index: 2;
  background-color: #22d3ee;
}

#homepage-s1 .section-background .bottom-right-2{
  display: block;
  position: absolute;
  width: 791rem;
  height: 494rem;
  rotate: 176deg;
  background-color: #f43f5e;
  opacity: 0.2;
  filter: blur(150rem);
  right: 0;
  z-index: 1;
  bottom: 155rem;
}


#homepage-s1 .title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#homepage-s1 .title-block .subtitle {
  display: flex;
  align-items: center;
  gap: 10rem;
  font: var(--font-regular-400);
}

#homepage-s1 .title-block .subtitle .icon{
  width: 24rem;
  height: 24rem;
 
}

#homepage-s1 .title-block .title {
  margin-top: 16rem;
}

#homepage-s1 .title-block .description {
  color: #B5AEC1;
  font: var(--font-regular-400-lato);
  margin-top: 32rem;
  padding: 0 110rem;
}

#homepage-s1 .title-block .buttons {
  display: flex;
  gap: 26rem;
  margin-top: 56rem;
  font: var(--font-button-m);

}

#homepage-s1 .title-block .buttons a{
  position: relative;
  min-width: 230rem;
}

#homepage-s1 .content-block {
  height: 784rem;
  width: 100%;
  border-radius: 20rem;
  padding: 56rem;
  border: 1rem solid var(--blue);
}

#homepage-s1 .image-content{ 
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  background-image: url('../../assets/images/dashboard-homepage-s1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#homepage-s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84rem;
  padding-left: 0;
  padding-right: 22rem;
  padding-bottom: 130rem;
  color: var(--white);
  z-index: 7;
  background-color: #050578;
  background-size: cover;
  background-position: center;
}

#homepage-s2 .section-background {
  opacity: 0.5;
  background: linear-gradient(180deg, #0A0118 0%, rgba(10, 1, 24, 0.00) 24.22%, rgba(10, 1, 24, 0.00) 73.85%, #0A0118 100%);
}

#homepage-s2 .section-background .mask{
  background-color: #281f55d8;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#homepage-s2 .section-background .bg-grid {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/bg-grid.svg');
  background-size: 45%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#homepage-s2 .section-background .top-left {
  width: 500rem;
  height: 500rem;
  filter: blur(100rem);
  z-index: 1;
  background-color: #281f55;
  position: absolute;
  left: 0;
  top: 0;
}

#homepage-s2 .section-background .bg-stairs {
  width: 952rem;
  height: 849rem;
  z-index: 10;
  right: -500rem;
  background-image: url('../../assets/images/card-opportunity-background.png');
  top: 230rem;
  right: -700rem;
  filter: brightness(1.5);
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  position: absolute;
}

#homepage-s2 .section-background .bottom-left {
  position: absolute;
  width: 479rem;
  height: 368rem;
  border-radius: 100%;
  background: rgba(185, 233, 83, 0.70);
  filter: blur(145rem);
  left: -173rem;
  bottom: -143rem;
}

#homepage-s2 .section-background .center{
  width: 1016rem;
  height: 827rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  position: absolute;
  filter: blur(150rem);
  transform: rotate(24deg);
  opacity: 0.5;
  left: 404rem;
  bottom: 30rem;
  z-index: 0;
}

#homepage-s2 .title-block{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 282rem;
  padding-right: 295rem;
  gap: 56rem;
}

#homepage-s2 .tab-menu{
  display: flex;
  gap: 100rem;
  width: 100%;
  border: 1rem solid var(--violet);
  border-radius: 20rem;
  font: var(--font-regular-500);
  padding: 38rem 95rem;
} 

#homepage-s2 .tab-menu div, #homepage-s2 .tab-menu div:hover::after {
  transition: .2s ease;
}

#homepage-s2 .tab-menu div:hover, #homepage-s2 .tab-menu .active{
  cursor: pointer;
  position: relative;
  color: var(--red);
} 

#homepage-s2 .tab-menu div:hover::after, #homepage-s2 .tab-menu .active::after{
  content: '';
  width: 100%;
  height: 2rem;
  display: block;
  position: absolute;
  top: calc(100% + 10rem);
  background-color: var(--red);
}

#homepage-s2 .content-block {
  padding-left: 176rem;
  min-height: 424rem;
  width: 100%;

}

#homepage-s2 .content-block-item {
  /* position: absolute; */
  display: none;
  gap: 34rem;
  transition: .5s ease;
}

#homepage-s2 .content-block-item.active{
  display: flex;
}

#homepage-s2 .text-content {
  width: 80%;
}

#homepage-s2 .text-content a{
  min-width: 230rem;
  font: var(--font-button-m);
}

#homepage-s2 .text-content p{
  font: var(--font-regular-400-lato);
  max-width: 80%;
  padding: 48rem 0 56rem 0;
}

#homepage-s2 .image-content {
  position: relative;
  width: 100%;
  z-index: 1;
}

#homepage-s2 #image1 {
  width: 100%;
  height: 475rem;
  background-image: url('../../assets/images/dashboard-homepage-s2-1.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#homepage-s2 #image2 {
  width: 271rem;
  height: 287rem;
  position: absolute;
  left: -83rem;
  top: 250rem;
  background-image: url('../../assets/images/dashboard-homepage-s2-2.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#homepage-s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 236rem;
  z-index: 6;
  background-color: var(--white);
}

#homepage-s3 .count-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24rem;
}

#homepage-s3 h2, #homepage-s3 h2 span{
  font: var(--font-h2);
  color: #251B59;
}

#homepage-s3 span{
  font: var(--font-m-600);
  color: var(--violet);
}

#homepage-s4 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: var(--deep-blue);
  color: var(--white);
}

#homepage-s4 .section-background .bottom-left, .bottom-right {
  width: 568rem;
  height: 461rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  filter: blur(150rem);
  position: absolute;
  opacity: 0.35;
}

#homepage-s4 .section-background .bottom-left {
  left: -275rem;
  bottom: -234rem;
}

#homepage-s4 .section-background .bottom-right {
  right: -249rem;
  bottom: -274rem;
}

#homepage-s4 .card{
  width: 100%;
  height: 354rem;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32rem;
  border: 1rem solid var(--blue);
}

#homepage-s4 .card p{
  font: var(--font-regular-400-lato);
  color: #B5AEC1;
}

#homepage-s4 .card a{
  width: 300rem;
  font: var(--font-button-m);
}

#homepage-s5 {
  display: flex;
  flex-direction: column;
  gap: 84rem;
  align-items: center;
  z-index: 4;
  padding-left: 0;
  padding-right: 0;
  background-color: #050578;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

#homepage-s5 .section-background .bottom-left {
  width: 761rem;
  height: 815rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  opacity: 0.3;
  filter: blur(150rem);
  position: absolute;
  transform: rotate(176deg);
  left: -242rem;
  top: 137rem;
}

#homepage-s5 .title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 288rem;
  gap: 56rem;
}

#homepage-s5 .title-block .toggle-menu{
  display: flex;
  gap: 32rem;
  height: 56rem;
  padding: 20rem 25rem;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/images/toggle-menu-border.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 304rem;
  font: var(--font-regular-400);
}

#homepage-s5 .title-block .toggle-menu span {
  white-space: nowrap;
}

.s5-toggle-menu {
  --button-width: 58rem;
  --button-height: 32rem;
  --toggle-diameter: 25rem;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10rem;
  --toggle-wider: 50rem;
  --color-grey: #cccccc;
  --color-green: #4296f4;
  text-align: left;
 }

 .s5-toggle-menu:hover{
  cursor: pointer;
}
 
.s5-toggle-menu .toggle {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background: var(--gradient-3);
  border-radius: 25rem;
  position: relative;
 }
 
 .s5-toggle-menu .toggle::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 

 .s5-toggle-menu input[type="checkbox"]:checked + .toggle::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .s5-toggle-menu input[type="checkbox"] {
  display: none;
 }
 
 .s5-toggle-menu input[type="checkbox"]:active + .toggle::after {
  width: var(--toggle-wider);
 }
 
 .s5-toggle-menu input[type="checkbox"]:checked:active + .toggle::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }

#homepage-s5 .content-block {
  padding-left: 80rem; 
  padding-right: 48rem;
  min-height: 300rem;
}

#homepage-s5 .content-block-item  {
  display: none;
  gap: 25rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#homepage-s5 .content-block-item:has(> :last-child:nth-child(5)) {
  max-width: 80%;
  margin: auto;
}

#homepage-s5 .content-block-item.active {
  display: flex;
}

#homepage-s6 {
  z-index: 3;
  background-color: var(--white);
  padding-top: 206rem;
}

#homepage-s7 {
  padding-top: 206rem;
  padding-bottom: 206rem;
  overflow: hidden;
  position: relative;
  background-color: var(--deep-blue);
  color: var(--white);
  z-index: 2;
}

#homepage-s7 .card{
  width: 100%;
  position: relative;
  padding: 77rem;
  border-radius: 20rem;
  z-index: -2;
  background: none;
  background-image: url('../../assets/images/homepage-glasscard-s7.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#homepage-s7 .card .text-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

#homepage-s7 .card .text-content .subtitle{
  display: flex;
  align-items: center;
  gap: 10rem;
  font: var(--font-button-m);
}
#homepage-s7 .card .text-content .subtitle .icon{
  width: 24rem;
  height: 24rem;
}

#homepage-s7 .card .text-content .title{
  margin-top: 24rem;
  margin-bottom: 24rem;
}

#homepage-s7 .card .text-content .description{
  font: var(--font-regular-400-lato); 
  color: #B5AEC1; 
}

#homepage-s7 .card .text-content .buttons{
  display: flex;
  gap: 50rem;
  margin-top: 56rem;
}

#homepage-s7 .card .text-content .buttons .button-cta-gradient{
  width: 300rem;
  font: var(--font-button-m);
}


#homepage-s7 .image-content{
  overflow: hidden;
  background-image: url('../../assets/images/dashboard-homepage-s7.webp');
  background-repeat: no-repeat;
  background-size: contain;
  height: 733rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1167rem;
  
}

#homepage-s7 .image1{
  height: 700rem;
  background-color: var(--black);
  border-radius: 20rem;
  position: absolute;
  width: 100%;
  left: 65%;
  transform: translateX(-50%);
}

#homepage-s7 .image2{
  position: absolute;
  top: 230rem;
  left: 80rem;
  width: 352rem;
  height: 140rem;
  background-color: var(--black);
  border-radius: 20rem;
  border: 1rem solid #ff018068;
}
 
#homepage-s7 .image3{
  position: absolute;
  top: 380rem;
  left: 65rem;
  width: 306rem;
  height: 340rem;
  background-color: var(--black);
  border-radius: 20rem;
  border: 1rem solid #ff018068;
}

#homepage-s8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding-top: 120rem;
}

#homepage-s8 h3{
  align-self: flex-start;
  color: #251B59;
}

#homepage-s8 .button{
  margin-top: 56rem;
  min-width: 230rem;
}

#homepage-s8 .resources-list{
  display: flex;
  gap: 32rem;
  margin-top: 96rem;
}

@media (width <= 768px) {
  #homepage-s1 {
    padding: 134rem 24rem 56rem;
    gap: 56rem;
    background: linear-gradient(180deg, #0A0118 0%, rgb(14, 4, 45) 24.22%, rgb(14, 4, 45) 73.85%, #0A0118 100%);
  }

  #homepage-s1 .section-background {
    display: none;
  }

  #homepage-s1 .title-block {
    width: 100%;
  }

  #homepage-s1 .title-block .subtitle {
    flex-direction: column;
    font: var(--font-regular-400-mob);
    line-height: 130%;
    gap: 8rem;
  }

  #homepage-s1 .title-block .title {
    margin-top: 24rem;
  }

  #homepage-s1 .title-block .description {
    padding: 0;
    margin-top: 24rem;
  }

  #homepage-s1 .title-block .buttons {
    margin-top: 40rem;
    flex-direction: column;
    flex-grow: 1;
    gap: 24rem;
    width: 100%;
  }

  #homepage-s1 .title-block .buttons a{
    width: 100%;
  }

  #homepage-s1 .content-block {
    height: 260rem;
    padding: 18rem;
  }



  #homepage-s2 {
    gap: 40rem;
    padding-top: 86rem;
    padding-bottom: 56rem;
    padding-right: 0;

  }

  #homepage-s2 .title-block{
    width: 100%;
    padding: 0 24rem;
    gap: 40rem;
  }

  #homepage-s2 .tab-menu{
    padding: 41rem;
    gap: 41rem;
    flex-wrap: wrap;
  }

  #homepage-s2 .content-block {
    padding: 0 24rem;
  }

  #homepage-s2 .content-block-item {
    flex-direction: column;
  }

  #homepage-s2 .text-content {
    width: 100%;
  }

  #homepage-s2 .text-content p{
    padding: 24rem 0 40rem 0;
    max-width: 100%;
  }

  #homepage-s2 .text-content a{
    width: 100%;
  }

  #homepage-s2 #image1 {
    height: 252rem;
  }

  #homepage-s2 #image2, #homepage-s2 #image3 {
    display: none;
  }

  #homepage-s3 {
    flex-direction: column;
    gap: 49rem;
  }

  #homepage-s4{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  #homepage-s4 .section-background{
    display: none;
  }

  #homepage-s4 .card{
    padding: 0 16rem;
    text-align: center;
    height: 516rem;
    gap: 0;
  }

  #homepage-s4 .card p{
    padding: 24rem 0 40rem;
  }

  #homepage-s4 .card a{
    width: 100%;
  }

  #homepage-s5 {
    gap: 40rem;
  }

  #homepage-s5 .content-block {
    padding-left: 24rem;
    padding-right: 24rem;
  }

  #homepage-s6{
    padding: 86rem 24rem 56rem;
  }

  #homepage-s7 {
    padding: 86rem 8rem 56rem;
  }

  #homepage-s7 .card{
    padding: 70rem 16rem;
    background-image: none;
    border: 1rem solid var(--blue);
  }

  #homepage-s7 .card .text-content{
    text-align: center;
    width: 100%;
    gap: 0rem;
  }

  #homepage-s7 .card .text-content .subtitle{
    display: none;
  }

  #homepage-s7 .card .text-content .title{
    margin-top: 0;
  }

  #homepage-s7 .card .text-content .buttons {
    flex-direction: column;
    align-items: center;
    gap: 40rem;
    margin-top: 0;
    margin-top: 40rem;
  }

  #homepage-s7 .image-content {
    display: none;
  }

  #homepage-s8 {
    padding: 86rem 24rem 56rem;
  }

  #homepage-s8 .resources-list{ 
    flex-direction: column;
    margin-top: 40rem;
  }

  #homepage-s8 .button{
    margin-top: 40rem;
    min-width: 100%;
  }
}