#homepage-s1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84rem;
  padding: 204rem 180rem 84rem;
  z-index: 8;
  color: var(--white);
  background-color: #0c0323;
}

#homepage-s1 .section-background {
  min-height: 1500rem;
  background: linear-gradient(180deg, #0A0118 0%, rgba(10, 1, 24, 0.00) 24.22%, rgba(10, 1, 24, 0.00) 73.85%, #0A0118 100%);
}

#homepage-s1 .section-background .top-left{
  position: absolute;
  mix-blend-mode: color;
  top: -811rem;
  left: -711rem;
  width: 1326rem;
  height: 1256rem;
  transform: rotate(126deg);
}

#homepage-s1 .section-background .top-left .red{
  position: absolute;
  background-color: #F43F5E;
  width: 660rem;
  mix-blend-mode: color;
  height: 614rem;
  filter: blur(150rem);
  opacity: 0.6;
  top: 0;
  left: 0;
}

#homepage-s1 .section-background .top-left .purple{
  position: absolute;
  width: 561rem;
  height: 465rem;
  filter: blur(150rem);
  opacity: 0.2;
  mix-blend-mode: color;
  top: 0;
  right: 0;
  border: 100rem solid #8215B5;
}

#homepage-s1 .section-background .top-left .blue{
  position: absolute;
  width: 1140rem;
  mix-blend-mode: color;
  height: 727rem;
  bottom: 0;
  background-color: #38BDF8;
  filter: blur(150rem);
}

#homepage-s1 .section-background .bg-grid {
  width: 801rem;
  height: 801rem;
  position: absolute;
  top: -105rem;
  left: 391rem;
  opacity: 0.4;
  border-radius: 1264px;
  background-image: url("../../assets/images/bg-grid.svg");
  background-size: 100%;
}

#homepage-s1 .section-background .bg-stairs {
  top: 50rem;
  width: 952rem;
  height: 804rem;
  position: absolute;
  z-index: 1;
  background-image: url("../../assets/images/card-opportunity-background.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

#homepage-s1 .section-background .center {
  width: 1264rem;
  height: 711rem;
  border-radius: 1264px;
  opacity: 0.3;
  position: absolute;
  bottom: 287rem;
  left: 54rem;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

#homepage-s1 .section-background .bottom-left{
  width: 670rem;
  height: 551rem;
  transform: rotate(50deg);
  opacity: 0.3;
  filter: blur(150rem);
  border: 100rem solid #8215b5;
  position: absolute;
  bottom: 205rem;
  left: -318rem;
  background-color: #22d3ee;
}

#homepage-s1 .section-background .top-right{
  width: 434rem;
  height: 86rem;
  background-color: #ff3bc0;
  position: absolute;
  top: 280rem;
  right: -150rem;
  opacity: 0.55;
  border-radius: 434rem;
  filter: blur(135rem);
}

#homepage-s1 .section-background .bottom-right{
  width: 561rem;
  height: 464rem;
  transform: rotate(126deg);
  opacity: 0.3;
  filter: blur(150rem);
  border: 100rem solid #8215b5;
  position: absolute;
  bottom: 295rem;
  right: -265rem;
  z-index: 2;
  background-color: #22d3ee;
}

#homepage-s1 .section-background .bottom-right-2{
  display: block;
  position: absolute;
  width: 791rem;
  height: 494rem;
  rotate: 176deg;
  background-color: #f43f5e;
  opacity: 0.2;
  filter: blur(150rem);
  right: 0;
  z-index: 1;
  bottom: 155rem;
}


#homepage-s1 .title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#homepage-s1 .title-block .subtitle {
  display: flex;
  align-items: center;
  gap: 10rem;
  font: var(--font-m);
}

#homepage-s1 .title-block .subtitle .icon{
  width: 24rem;
  height: 24rem;
 
}

#homepage-s1 .title-block .title {
  margin-top: 16rem;
}

#homepage-s1 .title-block .description {
  color: #B5AEC1;
  font: var(--font-m-lato);
  margin-top: 32rem;
  padding: 0 110rem;
}

#homepage-s1 .title-block .buttons {
  display: flex;
  gap: 26rem;
  margin-top: 56rem;
  font: var(--font-button-m);

}

#homepage-s1 .title-block .buttons button{
  min-width: 230rem;
}

#homepage-s1 .content-block {
  height: 784rem;
  width: 100%;
  border-radius: 20rem;
  padding: 56rem;
  background-image: url('../../assets/images/homepage-glasscard-s1.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#homepage-s1 .image-content{ 
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  background-image: url('../../assets/images/dashboard-homepage-s1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#homepage-s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84rem;
  padding-left: 0;
  padding-right: 22rem;
  padding-bottom: 130rem;
  color: var(--white);
  z-index: 7;
  background-color: #050578;
  background-size: cover;
  background-position: center;
}

#homepage-s2 .section-background {
  opacity: 0.5;
  background: linear-gradient(180deg, #0A0118 0%, rgba(10, 1, 24, 0.00) 24.22%, rgba(10, 1, 24, 0.00) 73.85%, #0A0118 100%);
}

#homepage-s2 .section-background .mask{
  background-color: #281f55d8;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#homepage-s2 .section-background .bg-grid {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/bg-grid.svg');
  background-size: 45%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#homepage-s2 .section-background .top-left {
  width: 500rem;
  height: 500rem;
  filter: blur(100rem);
  z-index: 1;
  background-color: #281f55;
  position: absolute;
  left: 0;
  top: 0;
}

#homepage-s2 .section-background .bg-stairs {
  width: 952rem;
  height: 849rem;
  z-index: 10;
  right: -500rem;
  background-image: url('../../assets/images/card-opportunity-background.png');
  top: 230rem;
  right: -700rem;
  filter: brightness(1.5);
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  position: absolute;
}

#homepage-s2 .section-background .bottom-left {
  position: absolute;
  width: 479rem;
  height: 368rem;
  border-radius: 100%;
  background: rgba(185, 233, 83, 0.70);
  filter: blur(145rem);
  left: -173rem;
  bottom: -143rem;
}

#homepage-s2 .section-background .center{
  width: 1016rem;
  height: 827rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  position: absolute;
  filter: blur(150rem);
  transform: rotate(24deg);
  opacity: 0.5;
  left: 404rem;
  bottom: 30rem;
  z-index: 0;
}

#homepage-s2 .title-block{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 282rem;
  padding-right: 295rem;
  gap: 56rem;
}

#homepage-s2 .tab-menu{
  display: flex;
  gap: 100rem;
  width: 100%;
  border: 1rem solid var(--violet);
  border-radius: 20rem;
  font: var(--font-m-medium);
  padding: 38rem 95rem;
} 

#homepage-s2 .tab-menu div, #homepage-s2 .tab-menu div:hover::after {
  transition: .2s ease;
}

#homepage-s2 .tab-menu div:hover, #homepage-s2 .tab-menu .active{
  cursor: pointer;
  position: relative;
  color: var(--red);
} 

#homepage-s2 .tab-menu div:hover::after, #homepage-s2 .tab-menu .active::after{
  content: '';
  width: 100%;
  height: 2rem;
  display: block;
  position: absolute;
  top: calc(100% + 10rem);
  background-color: var(--red);
}

#homepage-s2 .content-block {
  padding-left: 176rem;
  width: 100%;

}

#homepage-s2 .content-block-item {
  /* position: absolute; */
  display: none;
  gap: 34rem;
  transition: .5s ease;
}

#homepage-s2 .content-block-item.active{
  display: flex;
}

#homepage-s2 .content-block-item.active .text-content {
  animation: contentAnimation .9s ease;
}

@keyframes contentAnimation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#homepage-s2 .text-content {
  width: 80%;
}

#homepage-s2 .text-content button{
  min-width: 230rem;
  font: var(--font-button-m);
}

#homepage-s2 .text-content p{
  font: var(--font-m-lato);
  max-width: 80%;
  padding: 48rem 0 56rem 0;
}

#homepage-s2 .image-content {
  position: relative;
  width: 100%;
  z-index: 1;
}

#homepage-s2 #image1 {
  width: 100%;
  height: 475rem;
  background-image: url('../../assets/images/dashboard-homepage-s2-1.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#homepage-s2 #image2 {
  width: 271rem;
  height: 287rem;
  position: absolute;
  left: -83rem;
  top: 250rem;
  background-image: url('../../assets/images/dashboard-homepage-s2-2.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#homepage-s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 236rem;
  z-index: 6;
  background-color: var(--white);
}

#homepage-s3 .count-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24rem;
}

#homepage-s3 h2{
  color: #251B59;
}

#homepage-s3 span{
  font: var(--font-l-sb);
  color: var(--violet);
}

#homepage-s4 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: var(--deep-blue);
  color: var(--white);
}

#homepage-s4 .section-background .bottom-left, .bottom-right {
  width: 568rem;
  height: 461rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  filter: blur(150rem);
  position: absolute;
  opacity: 0.35;
}

#homepage-s4 .section-background .bottom-left {
  left: -275rem;
  bottom: -234rem;
}

#homepage-s4 .section-background .bottom-right {
  right: -249rem;
  bottom: -274rem;
}

#homepage-s4 .card{
  width: 100%;
  height: 354rem;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32rem;
  border: 1rem solid var(--blue);
}

#homepage-s4 .card p{
  font: var(--font-m-lato);
  color: #B5AEC1;
}

#homepage-s4 .card button{
  width: 300rem;
  font: var(--font-button-m);
}

#homepage-s5 {
  display: flex;
  flex-direction: column;
  gap: 84rem;
  align-items: center;
  z-index: 4;
  padding-left: 0;
  padding-right: 0;
  background-color: #050578;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

#homepage-s5 .section-background .bottom-left {
  width: 761rem;
  height: 815rem;
  background-color: #22d3ee;
  border: 100rem solid #8215b5;
  opacity: 0.3;
  filter: blur(150rem);
  position: absolute;
  transform: rotate(176deg);
  left: -242rem;
  top: 137rem;
}

#homepage-s5 .title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 288rem;
  gap: 56rem;
}

#homepage-s5 .title-block .toggle-menu{
  display: flex;
  gap: 32rem;
  height: 56rem;
  padding: 20rem 25rem;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/images/toggle-menu-border.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 304rem;
  font: var(--font-m);
}

#homepage-s5 .title-block .toggle-menu span {
  white-space: nowrap;
}

#homepage-s5 .title-block .toggle-menu .check{
  display: flex;
  align-items: center;
  width: 58rem;
  height: 32rem;
  background: var(--gradient-3);
  border-radius: 20rem;
  position: relative;
}
#homepage-s5 .title-block .toggle-menu .check div{
  width: 25rem;
  height: 25rem;
  background-color: var(--white);
  border-radius: 100%;
  position: absolute;
  margin-left: 3rem;
  transition: .2s ease;
}


#homepage-s5 .title-block .toggle-menu .check.active div {
  margin-left: calc(100% - 28rem);
}


#homepage-s5 .title-block .toggle-menu .check:hover {
  cursor: pointer;
}

#homepage-s5 .content-block {
  padding-left: 80rem;
  padding-right: 48rem;
  gap: 32rem;
}

#homepage-s5 .content-block-item {
  display: none;
  gap: 32rem;
  
  justify-content: center;
}


#homepage-s5 .content-block-item.active {
  display: flex;
  animation: contentAnimation .9s ease;
}

#homepage-s5 .content-block .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56rem 24rem;
  border-radius: 20rem;
  max-width: 304rem;
  border: 1rem solid #ff018000;
  box-shadow: 0px 10px 36px 0px #0000001A, 2rem 1000rem 1px rgba(255, 255, 255, 0.1) inset;
  transition: scale .2s ease;
  z-index: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 1rem solid var(--blue);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(120, 120, 255, 0) 0%, rgba(253, 168, 0, 0) 50.19%, rgba(255, 1, 129, 0) 100%);
}

#homepage-s5 .content-block .card:hover{
  cursor: pointer;
  border: solid 1rem transparent;
  box-shadow: 2rem 1000rem 1rem #1e1e86 inset;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(120, 120, 255, 0.9) 0%, rgba(253, 168, 0, 0.9) 50.19%, rgba(255, 1, 129, 0.9) 100%);
  scale: 1.01;
}

#homepage-s5 .content-block .card .card-image{
    width: 56rem;
    height: 56rem;
}

#homepage-s5 .content-block .card .card-title{
  font: var(--font-l);
  margin-top: 24rem;
  margin-bottom: 16rem;
}

#homepage-s5 .content-block .card .card-description{
  font: var(--font-s-140);
  color: #B5AEC1;
}

#homepage-s6 {
  z-index: 3;
  background-color: var(--white);
  padding-top: 206rem;
}

#homepage-s6 .slider{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#homepage-s6 .slider .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homepage-s6 .slider .left .title {
  display: flex;
  align-items: center;
  gap: 10rem;
  color: var(--deep-blue);
  font: var(--font-m-medium);
}

#homepage-s6 .slider .left .dots {
  display: flex;
  gap: 14rem;
}

#homepage-s6 .slider .left .dots div{
  width: 8rem;
  height: 8rem;
  background-color:#9688b1;
  border-radius: 100%;
}

#homepage-s6 .slider .left .dots div.active{
  background-color: #7878ff;
}

#homepage-s6 .slider .left .title .icon{ 
  height: 24rem;
  width: 24rem;
}

#homepage-s6 .slider .right{
  width: 66%;
  position: relative;
}

#homepage-s6 .slider .right .slider-content-item{
  display: none;
  flex-direction: column;
  gap: 48rem;
}

#homepage-s6 .slider .right .slider-content-item.active{ 
  display: flex;
}

#homepage-s6 .slider .right .slider-content-item.active .top, #homepage-s6 .slider .right .slider-content-item.active .author{  animation: contentAnimation .4s ease;} 

#homepage-s6 .slider .right::before{
  content: url('');
  background-image: url('../../assets/icons/double-quotes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--red);
  height: 48rem;
  width: 48rem;
  position: absolute;
  right: calc(100% + 32rem);
  display: block;
}

#homepage-s6 .slider .right .top {
  color: #251B59;
  padding-bottom: 48rem;
  min-height: 300rem;
  border-bottom: 1px solid #B5AEC1;
}

#homepage-s6 .slider .right .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-m-lato);

}

#homepage-s6 .slider .right .bottom .author{
  display: flex;
  align-items: center;
  gap: 16rem;
  color: var(--deep-blue);
}

#homepage-s6 .slider .right .bottom .author::before{
  content: '';
  display: block;
  width: 24rem;
  height: 1.5rem;
  background-color:#251B59;
}

#homepage-s6 .slider .right .controls{
  display: flex;
  position: absolute;
  right: 0;
  bottom: 3rem;
  align-items: center;
  gap: 40rem;
}

#homepage-s6 .slider .right .controls button img{
  width: 25rem;
  color: #251B59;
}
#homepage-s6 .slider .right .controls button:first-child img{
  transform: rotateZ(180deg);
}

#homepage-s7 {
  padding-top: 206rem;
  padding-bottom: 206rem;
  overflow: hidden;
  position: relative;
  background-color: var(--deep-blue);
  color: var(--white);
  z-index: 2;
}

#homepage-s7 .card{
  width: 100%;
  position: relative;
  padding: 77rem;
  border-radius: 20rem;
  z-index: -2;
  background-image: url('../../assets/images/homepage-glasscard-s7.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

#homepage-s7 .card .text-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

#homepage-s7 .card .text-content .subtitle{
  display: flex;
  align-items: center;
  gap: 10rem;
  font: var(--font-button-m);
}
#homepage-s7 .card .text-content .subtitle .icon{
  width: 24rem;
  height: 24rem;
}

#homepage-s7 .card .text-content .title{
  margin-top: 24rem;
  margin-bottom: 24rem;
}

#homepage-s7 .card .text-content .description{
  font: var(--font-m-lato); 
  color: #B5AEC1; 
}

#homepage-s7 .card .text-content .buttons{
  display: flex;
  gap: 50rem;
  margin-top: 56rem;
}

#homepage-s7 .card .text-content .buttons .button-cta-gradient{
  width: 300rem;
  font: var(--font-button-m);
}


#homepage-s7 .image-content{
  overflow: hidden;
  background-image: url('../../assets/images/dashboard-homepage-s7.webp');
  background-repeat: no-repeat;
  background-size: contain;
  height: 733rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1167rem;
  
}

#homepage-s7 .image1{
  height: 700rem;
  background-color: var(--black);
  border-radius: 20rem;
  position: absolute;
  width: 45%;
  top: 84rem;
  right: -100rem;
}

#homepage-s7 .image2{
  position: absolute;
  top: 309rem;
  left: calc(50% + 69rem);
  width: 352rem;
  height: 140rem;
  background-color: var(--black);
  border-radius: 20rem;
  border: 1rem solid #ff018068;
}
 
#homepage-s7 .image3{
  position: absolute;
  top: 471rem;
  left: 50%;
  width: 306rem;
  height: 340rem;
  background-color: var(--black);
  border-radius: 20rem;
  border: 1rem solid #ff018068;
}

#homepage-s8 {
  z-index: 1;
  padding-top: 120rem;
}

#homepage-s8 h3{
  color: #251B59;
}

#homepage-s8 .resources-list{
  display: flex;
  gap: 32rem;
  margin-top: 96rem;
}

#homepage-s8 .resources-list .card{
  display: flex;
  flex-direction: column;
  border-radius: 20rem;
  position: relative;
  overflow: hidden;
  border: 1rem solid #ff018000;
  box-shadow: 0px 10px 36px 0px #0000001A, 2rem 1000rem 1px #fff inset;
  transition: .2s ease;
  z-index: 1;
  border: solid 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#homepage-s8 .resources-list .card:hover {
  cursor: pointer;
  scale: 1.01;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), var(--gradient-3);
}


#homepage-s8 .resources-list .card .card-image{
  width: 100%;
  height: 200rem;
  background-color: #251b5940;

}

#homepage-s8 .resources-list .card .card-content{
  padding: 40rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

#homepage-s8 .resources-list .card .card-content .chips-block{
  display: flex;
  gap: 16rem;
}

#homepage-s8 .resources-list .card .card-content .chips-block .chip{
  padding: 7rem 21rem;
  border-radius: 6rem;
  font: var(--font-xs);
  border: 1px solid var(--red);
  color: var(--red);
}

#homepage-s8 .resources-list .card .card-content .chips-block .chip:last-child{
  border: 1px solid var(--violet);
  color: var(--violet);
}

#homepage-s8 .resources-list .card .card-content .title{
  font: var(--font-2xl-130);
  font-weight: 700;
  color: #251B59;
}

#homepage-s8 .resources-list .card .card-content .description{
  color: #716785;
  font: var(--font-m-lato);

  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}