button, .button {
  background: none;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
}

.button {
  display: block;
  text-align: center;
  width: fit-content;
}

.button:hover,  button:hover {
  cursor: pointer;
}

.button.disabled:hover, button:disabled:hover {
  cursor: auto;
}

.button-cta-red, .button-cta-red-outlined, .button-cta-gradient-outlined, .button-cta-gradient  {
  color: var(--white);
  font: var(--font-button-s);
  padding: 16rem 32rem;
  border-radius: 4rem;
  transition: .2s ease;
}

.button-cta-gradient-outlined {
  border-radius: 4rem;
  z-index: 1;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(120, 120, 255, 0.95) 0%, rgba(253, 168, 0, 0.95) 50.19%, rgba(255, 1, 129, 0.95) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #261d42 inset;
}

.button-cta-gradient-outlined::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 110%;
  height: 110%;
  border-radius: inherit;
  opacity: 0;
  scale: 1;
  z-index: -1;
  background: var(--gradient-3);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-cta-gradient-outlined:hover::after {
  opacity: 1;
}

.button-cta-icon {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 5rem;
  font: var(--font-m);
  font-style: italic;
  color: var(--light-violet);
}

.button-cta-icon .arrow-icon, .button-cta-icon .tap-icon {
  width: 24rem;
  height: 24rem;
  color: var(--yellow);
}

.button-cta-icon:hover {
  color: var(--yellow);
}

.button-cta-icon:disabled, .button-cta-icon:disabled .arrow-icon {
  color: var(--color-text);
}


.button-cta-red {
  background-color: var(--red);
}

.button-cta-red:hover {
  background-color: #CD0469;
}

/* OUTLINED */
.button-cta-red-outlined {
  position: relative;
  overflow: hidden;
  border: 1rem solid var(--red);
  color: var(--red);
}

.button-cta-red-outlined:hover {
  color: var(--white); 
  background-color: var(--red);
}

.button-cta-red-outlined:disabled, .button-cta-red-outlined:disabled:hover{
  background: none;
  border: 1rem solid var(--color-text);
  color: var(--color-text);
}


/* GRADIENT */
.button-cta-gradient::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--white);
  position: absolute;
  z-index: -1;
  border-radius: 4rem;
  transition: .1s ease;
  background: linear-gradient(90deg, rgba(120, 120, 255, 0.95) 0%, rgba(253, 168, 0, 0.95) 50.19%, rgba(255, 1, 129, 0.95) 100%);
}

.button-cta-gradient:hover::before{
  transform: scale(1.4);
}