footer {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 60rem;
  background-color: #716785;
  overflow: hidden;
  height: 731rem;
  border-radius: 20rem 20rem 0 0;
  grid-template-areas: 
    "footer-info1 footer-nav1 footer-nav1"
    "footer-info2 footer-nav2 footer-nav2"
    "footer-bottom footer-bottom footer-bottom"; 
}

footer .grid-item{ 
  color: var(--white);
  background-color: var(--deep-blue);
}

.footer-info1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;
  padding-left: 64rem;
  padding-right: 50rem; 
  grid-area: footer-info1;
  border-right: 1rem solid #716785;
}

.footer-info1 .logo {
  font: var(--font-h6);
  font-weight: 700;
  width: 106rem;
}

.footer-info1 .button-cta-gradient-outlined {
  margin-top: 48rem;
  margin-bottom: 56rem;
  width: 230rem;
}

.footer-info1 .input-block{
  display: flex;
  font: var(--font-regular-400-lato);
  flex-direction: column;
  gap: 8rem;
  position: relative;
}

.footer-info1 .input-block #footer-signup-input{
  outline: none;
  border: none;
  font: var(--font-s-400);
  color: #B5AEC1;
  background: transparent;
  border-bottom: 1rem solid #716785;
  padding: 16rem 0;
}

#footer-signup-input::placeholder {
  transition: .2s ease;
}

.footer-info1 .input-block .input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 0;
  background-color: var(--violet);
  transition: all 0.3s ease;
}

#footer-signup-input:focus#footer-signup-input {
  color: var(--blue);
}

#footer-signup-input:focus + .input-highlight {
  width: 100%;
}

.footer-info1 .input-block button {
  position: absolute;
  right: 15rem;
  width: 14rem;
  height: 14rem;
  bottom: 0;
  transform: translateY(-125%);
}

.footer-info1 .input-block button svg{
  fill: #B5AEC1;
  transition: .2s ease;
}

.footer-info1 .input-block button:hover svg {
  fill: var(--violet);
}

.footer-info2 {
  display: flex;
  align-items: center;
  padding-left: 64rem;
  font: var(--font-regular-400);
  grid-area: footer-info2;
  border-right: 1rem solid #716785;
}

.footer-nav1 { 
  display: flex;
  /* gap: 120rem; */
  justify-content: space-between;
  grid-area: footer-nav1; 
  padding-top: 104rem;
  padding-left: 92rem;
  padding-right: 64rem;
  border-bottom: 1rem solid #716785;
  
}
.footer-nav2 { 
  grid-area: footer-nav2; 
  display: flex;
  justify-content: space-between;
  padding-right: 64rem;
  padding-top: 64rem;
  padding-left: 92rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.footer-list .list-title{
  font: var(--font-m-600);
}

.footer-list ul{
  display: flex;
  flex-direction: column;
  gap: 11rem;
  width: 230rem;
}

.footer-list .list-item a, .footer-list .list-item{
  color: #B5AEC1;
  font: var(--font-s-400-160);
  transition: .2s ease;
}

.footer-list .list-item a:hover{
  color: var(--red);
}

.footer-bottom { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: footer-bottom;
  font: var(--font-tiny-400); 
  padding: 0 64rem;
  border-top: 1rem solid #716785;
}

.footer-bottom .info{
  display: flex;
  gap: 64rem;
}

.footer-bottom .info li, .footer-bottom .info a {
  color: #B5AEC1;
  transition: .2s ease;
}

.footer-bottom .info a:hover {
  color: var(--red);
}

.footer-bottom .socials{
  display: flex;
  gap: 16rem;
} 

.footer-bottom .socials a img{
  width: 24rem;
  height: 24rem;
}