header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

header.active{
  background-color: rgba(14, 4, 45, 0.96);
}

.header-top ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 14rem 0;
  gap: 127rem;
  font: var(--font-xs);
  color: var(--white);
  text-transform: uppercase;
  background-color: #251B59;
  border-radius: 0 0 4rem 4rem;
}

.header-top a {
  transition: .2s ease;
  color: var(--white);
}

.header-top a:hover {
  color: var(--red);
  cursor: pointer;
}


.header-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 63.5rem;
  height: 60rem;
  color: var(--white);
  font: var(--font-s);
}

.header-bottom .logo {
  font: var(--font-h6);
  font-weight: 700;
  width: 106rem;
}

.header-navigation-block {
  display: flex;
  height: 100%;
}

.header-navigation{
  display: flex;
  align-items: center;
  gap: 48rem;
;
}

.header-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20rem;
  gap: 8rem;
  height: 100%;
  transition: .2s ease;
}


.header-navigation-item-title-block {
  display: flex;
  align-items: center;
  position: relative;
}

.header-navigation-item .header-navigation-item-title-block .icon{
  position: absolute;
  right: -16rem;
  width: 10rem;
  height: 10rem;
  transition: .4s ease;
}


.header-navigation-item:hover .header-navigation-item-title{
  cursor: pointer;
  color: var(--red);
}

.header-navigation-item:hover .header-navigation-item-title-block .icon{
  transform: rotate(180deg);
}

/* .header-navigation-item:hover .header-navigation-item-title-block .icon-hover{
  opacity: 1;
} 

.header-navigation-item .icon-hover{
  opacity: 0;
  position: absolute;
  bottom: -16rem;
  right: 50%;
  width: 10rem;
  height: 16rem;
  transition: .2s ease;
  transform: translateX(50%);
}


.header-navigation-item:hover .submenu-overlay {
  display: block;
} */

.header-navigation-item .submenu {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  min-height: 200rem;
  left: 0;
  bottom: 0;
  right: 0;
  top: 100%;
  display: none;
}

.header-navigation-item .submenu .left{
  width: 60%;
  padding: 24rem 64rem;
}

.header-navigation-item .submenu .right{
  width: 40%;
  background-color: rgba(148, 160, 251, 0.10);
  padding: 72rem 64rem 48rem;
}

.header-navigation-item .submenu .right .right-content{
  display: flex;
  flex-direction: column;
  gap: 56rem;
  width: 100%;
  height: 100%;
}

.header-navigation-item .submenu .right .right-content .card{
  overflow: hidden;
  border-radius: 20rem;
}

.header-navigation-item .submenu .right .right-content .card .card-news{
  max-height: 300rem;
}


.header-navigation-item .submenu .right .right-content .card .card-image{
  width: 100%;
  height: 200rem;
}

.header-navigation-item .submenu .right .right-content .card .card-image img{
  border-radius: 20rem;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.header-navigation-item .submenu .right .right-content .button-cta-icon span {
  color: var(--deep-blue);
  text-decoration: underline;
  transition: .2s ease;
}

.header-navigation-item .submenu .right .right-content .button:hover span {
  color: var(--yellow);
}

.header-navigation-item .submenu .right .some-block{
  width: 100%;
  height: 300rem;
  background-color: var(--white);
}

.header-navigation-item .submenu-navigation-item {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding: 48rem 0;
  border-bottom: 1rem solid rgba(50, 85, 181, 0.2);
}

.header-navigation-item .submenu-navigation-item:last-child {
  border-bottom: none;
}

.submenu-navigation-item .title{
  display: flex;
  align-items: center;
  gap: 16rem;
  color: var(--deep-blue);
  font: var(--font-l-sb);
}

.submenu-navigation-item .title img{
  width: 40rem;
  height: 40rem;
}

.submenu-navigation-item .submenu-links {
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
}

.submenu-navigation-item .submenu-links .submenu-links-item a{
  font: var(--font-l-lato);
  color: var(--deep-blue);
  transition: .2s ease;
}

.submenu-navigation-item .submenu-links .submenu-links-item a:hover{
  color: var(--red);
}

.header-bottom .button-cta-red{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224rem;
  height: 40rem;
}