@import url('./fonts.css');
@import url('./variables.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/slider.css');
@import url('./components/header.css');
@import url('./components/footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(100vw / 1440);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

section {
  margin-top: -30rem;
  padding: 84rem 64rem;
  font: var(--font-s-400);
  border-radius: 0 0 20rem 20rem;
  position: relative;
  overflow: hidden;
}

.header-overlay {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(14, 4, 45, 0.7);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.section-background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style: none;
}

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}
h3 {
  font: var(--font-h3);
}
h4 {
  font: var(--font-h4);
}
h5 {
  font: var(--font-h5);
}
h6 {
  font: var(--font-h6);
}

a {
  text-decoration: none;
}

@media (width <= 768px) {
  html {
    font-size: calc(100vw / 360);
  }

  h1 {
    font: var(--font-h1-mob);
  }

  h2 {
    font: var(--font-h2-mob);
  }
  h3 {
    font: var(--font-h3-mob);
  }
  h4 {
    font: var(--font-h4-mob);
  }
  h5 {
    font: var(--font-h5-mob);
  }
  h6 {
    font: var(--font-h6-mob);
  }

  section {
    font: var(--font-s-400-mob);
    padding: 86rem 24rem 56rem;
  }
  header {
    display: none;
  }
}
